<div class="container">
  <div class="row">
    <div class="col">
    <h1><%= t :edit_user %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <%= render partial: 'form', locals: {user: @user, url: admin_user_path} %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
    <%= link_to "#{t :user_list}", admin_users_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
