<div class="container">
  <h4><%= t("activerecord.tasks.new.title") %></h4>
  <br>
  <%= render 'layouts/task_form' %>
  <div class="d-flex justify-content-end">
    <%= link_to t("button.back"), root_path %>
  </div>
</div>
