<footer class="footer">
  <small>
    The Ruby on Rails Tutorial
    by <a href="https://github.com/Fablic/training">Rakuma</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
