<header>
  <div class="bd-example">
    <nav class="navbar navbar-light" id='navbar'>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">
          <i class="fas fa-search" id="fa-search"></i></font>
        </button>
      </form>
      <a href="http://localhost:3001/projects" class="navbar-brand">
        TMS
      </a>
      <ul class="navbar-nav">
         <li>
           LEE
         </li>
      </ul>
    </nav>
  </div>
  <div class="notifications">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "flash-notification" %>
    <% end %>
  </div>
</header>
