<header>
  <div class="bd-example">
    <nav class="navbar navbar-light" style="background-color: #E7514A; padding: 0rem 2rem;">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height: calc(1.3em + 0.75rem + 2px); margin-left: -25px;">
        <button class="btn my-2 my-sm-0" type="submit">
          <i style="color: #FFFFFF;" class="fas fa-search"></i></font>
        </button>
      </form>
      <a class="navbar-brand">
        <font style="vertical-align: inherit; color: #FFFFFF; margin-right: 184px;">TMS</font>
      </a>
      <ul class="navbar-nav">
         <li>
           <font style="color: #FFFFFF;">LEE</font>
         </li>
      </ul>
    </nav>
  </div>
</header>
