<div class="search-result">
  <div class="search-result-tasks">
    <div class="search-result-tasks-title">
      <h6>
        <%= t('search.tasks.title') %>
      </h6>
    </div>
    <div class="search-result-tasks-list">
    </div>
  </div>
  <div class="search-result-projects">
    <div class="search-result-projects-title">
      <h6>
        <%= t('search.projects.title') %>
      </h6>
    </div>
    <div class="search-result-projects-list">
    </div>
  </div>
</div>
