<div class="card col-md-9">
  <div class="card-body">
    <h1><%= t('message.maintenance.title') %></h1>
    <p class='alert alert-danger'><%= t('message.maintenance.period') + ': ' + @period %></p>
    <p><%= t('message.maintenance.comment') %></p>
  </div>
</div>
