/.bundle
.DS_Store
myapp/.DS_Store
myapp/docs/.DS_Store
myapp/docs/img/.DS_Store

/db/*.sqlite3
/db/*.sqlite3-journal

/myapp/log/*
!/myapp/log/.keep

/myapp/tmp/*
/myapp/tmp/.keep

/myapp/node_modules
/myapp/yarn-error.log

/myapp/storage/*
!/myapp/storage/.keep

/myapp/public/assets
/myapp/public/packs
/myapp/public/packs-test

/myapp/.byebug_history
/myapp/config/master.key

/myapp/.idea/*

/myapp/yarn.lock
/myapp/config/maintenance.yml

/myapp/*.swp
*.swp
