<div class="container">
  <h1><%= t('.head_title') %></h1>

  <%= render 'form', user: @user, url: admin_user_path %>

  <%= link_to t('show'), admin_user_path(@user) %> |
  <%= link_to t('back'), admin_users_path %>
</div>
