<h1>Edit Task</h1>

<%= render partial: 'error_message', locals: { task: @task } %>

<%= render partial: 'form', locals: { task: @task, form_path: tasks_update_path(@task), button_name: t('button.edit')} %>
