.error_body {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-color: #EBEDEE;
  float: left;
  text-align: center;
  .title {
    width: 100%;
    color: #828180;
    margin-top: 100px;
  }
  .comment {
    width: 100%;
    margin-top: 20px;
    color: #828180;
  }
  .comment-buttom {
    width: 100%;
    color: #828180;
   }

}

