/* header */
/* navbar */

#navbar {
  background-color: #E7514A;
  padding: 0rem 1rem !important;
}

#form-control {
  height: calc(1.3em + 0.75rem + 2px);
  margin-left: -25px;
}

#fa-search {
  color: #FFFFFF;
}

a.navbar-brand {
    vertical-align: inherit;
    color: #FFFFFF !important;
    margin-right: 184px;
}

ul.navbar-nav {
  color: #FFFFFF;
}
