/* header */
/* navbar */

.bd-example {
  .navbar-light {
    background-color: #9CBEFA;
    width: 100% !important;
    .left-function {
      width: 30%;
      float: left;
      .search-form {
        background-color: #FFFFFF;
        width: 70%;
        height: 100%;
        .input-search-form {
          width: 100%;
          float: left;
        }
        .fa-search {
          position: absolute;
          height: 100%;
          margin-top: -7px;
          margin-left: -24px;
        }
      }
    }
    .brand-name {
      width: 40%;
      text-align: center;
      float: left;
      a {
        color: #ffffff;
        vertical-align: inherit;
        text-decoration: none;
      }
    }
    .right-menu {
      width: 30%;
      float: left;
      text-align: right;
      .user-name {
        color: #ffffff;
        width: 50%;
        float: left;
      }
      .localize {
        width: 50%;
        float: left;
        a {
          color: #ffffff;
          vertical-align: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
.notifications {
  text-align: center;
  width: 100%;
}
