<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand"><%= I18n.t('page.common.app_name') %></a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_menu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= fa_icon "user-circle" %>
    </button>
    <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdown_menu_button">
      <%= link_to I18n.t('page.common.logout'), logout_path, method: :delete, class: 'dropdown-item'%>
    </div>
  </div>
</nav>
