<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/board" data-turbolinks="false">Guild</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="padding-top:8px; padding-left:100px;">
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div class="jumbotron mt-3"><h1>During Maintenance</h1></div>
</div>
