<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<div class="mt-1">
  <%= link_to t('buttons.show'), @task, class: "btn btn-info" %>
  <%= link_to t('buttons.back'), root_path, class: "btn btn-secondary" %>
</div>
