.project-modal-dialog {
  max-width: 300px !important;
  border-style: none !important;
  .project-modal-content {
    background-color: transparent !important;
    border: none !important;
    .project-modal-header {
      border: none !important;
      background-color: #181D2B;
      button {
        color: #FFFFFF !important;
       }
    }
    .project-modal-foot {
      margin: 5px 0px 0px 0px;
    }
  }
}
