<div class="dropdown">
  <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <i class="fas fa-dice-three"></i>
   <%= t('projects.show_menu') %>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%= button_to t('projects.close_project'), project_path, method: :delete, class:"btn delete-button" %>
  </div>
</div>
