<div id="left-side">
  <div>
    P
    <br>
    R
    <br>
    O
    <br>
    J
    <br>
    E
    <br>
    C
    <br>
    T
    <br>
    S
    <br>
    <br>
    P
    <br>
    A
    <br>
    G
    <br>
    E
  </div>
</div>
