<div style="height: 100%; width: 30%; text-align: center;">
  <div style="margin-top: 10px">
    P
    <br>
    R
    <br>
    O
    <br>
    J
    <br>
    E
    <br>
    C
    <br>
    T
    <br>
    <br>
    P
    <br>
    A
    <br>
    G
    <br>
    E
  </div>
</div>
