<div class="modal fade" id="create-project" tabindex="-1" role="dialog" aria-labelledby="create-project-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" placeholder="name" aria-describedby="button-addon2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="modal-foot">
        <button type="submit" class="btn btn-success btn-sm" data-dismiss="modal">Create project</button>
      </div>
    </div>
  </div>
</div>
