<div class="modal" tabindex="-1" role="dialog" id="modal-window">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title"></h4>
      </div>
      <%= render :partial => "common/modal/" + controller.controller_name %>
    </div>
  </div>
</div>
