<div class="modal fade" id="create-task" tabindex="-1" role="dialog" aria-labelledby="create-task-label">
  <div class="modal-dialog task-modal-dialog" role="document">
    <%= form_for(group.tasks.new) do |task| %>
      <div class="modal-content task-modal-content">
        <div class="modal-header task-modal-body">
          <div class="task-modal-name">
            <div class="task-modal-name-icon">
              <i class="fas fa-pager fa-lg"></i>
            </div>
            <div class="task-modal-name-input">
              <%= task.text_field :name, class:"form-control", placeholder:"Task name"%>
            </div>
            <div class="task-modal-close">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">x</span>
              </button>
            </div>
          </div>
          <div class="task-modal-description">
            <div class="task-modal-description-icon">
              <i class="far fa-edit fa-lg"></i>
            </div>
            <div class="task-modal-description-input">
              <%= task.text_field :name, class:"form-control", placeholder:"Task description"%>
            </div>
          </div>
        </div>
        <div class="modal-foot task-modal-foot">
          <%= task.submit 'Add a task', class:"btn btn-success btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
