<% flash.each do |key, value| %>
  <%= content_tag(:div, value, class: "#{key}") %>
<% end %>

<h1><%= I18n.t('titles.edit') %></h1>

<%= render 'form', task: @task %>
<%= link_to I18n.t('links.return'), tasks_path %>
