@import "bootstrap-sprockets";
@import "bootstrap";

html {
  font-size: 62.5%; // 10px
}

body {
  font-size: 1rem
}

.navbar-brand {
  background: url("logo.png") no-repeat left center;
  background-size: contain;
  height: 25px;
  width: 50px;
}

.table {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.table span {
  white-space: pre-line;
  background-color: transparent;
  background-color: #EFEFEF;
  border: 0;
}
