/*
 *= require font-awesome
 */
@import "bootstrap";

.badge{
  font-size: 16px;
}

.search-box{
  margin: 5px 0px 20px 0px;
}

.search-btn{
  margin: 30px 0px 10px 0px;
}

.add-task{
  margin: 60px 0px;
}

.kusa{
  margin: 10px;
}

.title{
  margin: 10px;
}
