<%= render 'layouts/navbar_not_login' %>
<div class="main">
  <div class="main-content">
    <h1>
      <%= t('home.content') %>
    </h1>
    <h4>
      <%= t('home.content_sub') %>
    </h4>
  </div>
  <div class="main-image">
    <%= image_tag "main-image.png" %>
  </div>
</div>
