<div class="main">
  <div class="main-content">
    <h1>
      Treasure Map lets you work more collaboratively and get more done.
    </h1>
    <h4>
    Treasure Map’s projects, lists, and tasks enable you to organize and prioritize your projects in a fun, flexible, and rewarding way.
    </h4>
  </div>
  <div class="main-image">
    <%= image_tag "main-image.png" %>
  </div>
</div>
