<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
        <!--
        h1 { color: red; }
        -->
        </style>
    </head>
    <body>
    <h1>現在メンテナンス中です。</h1>
    <p>ご迷惑をお掛けして大変申し訳ありません。</p>
    </body>
</html>