@import './variables';
@import 'bootstrap/scss/bootstrap';
@import './bootswatch';

.datetime-form-group select {
    height: calc(1.5em + 0.75rem + 2px);
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
