<% if model.errors.any? %>
  <div class="card col-md-6">
    <div class="card-body">
      <div class="alert alert-danger">
        <ul>
          <% model.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
