<%= form_with(model: @admin_user, local: true) do |form| %>
  <%= render 'form', { form: form } %>
  <div>
    <%= form.submit t('action.create'), class:"btn btn-primary" %>
    <%= link_to t('action.back'), admin_users_path, class: "btn btn-primary" %>
  </div>
<% end %>
