.navbar {
  .dropdown-menu-custom {
    left: auto;
    right: 0;
  }
}

.row {
  display: block !important;
  flex-wrap: nowrap !important;

  .tool-bar {
    height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;

    .tool-bar-right {
      float: right;
    }

    .tool-bar-item {
      margin: 5px;
    }
  }
}
a.trash-button {
  color: red !important;
}
a.edit-button {
  color: green !important;
}
