@import 'mixins';

$base-color-1: #0068A2;
$sub-color: #fafafa;
$accent-color: #ED6100;

$base-font-color: #212529;

$breakpoint-large: 768px;
$breakpoint-small: 767px;

$screen-smart-phone: 576px;
$screen-small-tablet: 768px;
$screen-large-tablet: 992px;
$screen-pc: 1200px;

$width-smart-phone: 540px;
$width-small-tablet: 720px;
$width-large-table: 960px;
$width-pc: 1140px;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $sub-color;
}

.navbar-wrapper {
  margin-bottom: 15px;
  background-color: $base-color-1;

  .navbar-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: $base-color-1 !important;
    color: white;

    @include min-screen($screen-smart-phone) {
      max-width: $width-smart-phone;
    }
    @include min-screen($screen-small-tablet) {
      max-width: $width-small-tablet;
    }
    @include min-screen($screen-large-tablet) {
      max-width: $width-large-table;
    }
    @include min-screen($screen-pc) {
      max-width: $width-pc;
    }

    .navbar-nav {
      .nav-lisk-custom {
        color: white;
      }
    }

    .user-icon {
      background-color: rgba(0,0,0,0);
      border-color: rgba(0,0,0,0);
      box-shadow: none;
    }

    .dropdown {
      .dropdown-menu-custom {
        left: auto;
        right: 0;
      }
    }
  }
}

.row {
  width: 100%;
}

.main-content {
  margin-top: 5px;
  background-color: white;
}

a.trash-button {
  color: red !important;
}

a.edit-button {
  color: green !important;
}

.tool-bar {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;

  .tool-bar-right {
    float: right;
  }

  .tool-bar-item {
    margin: 5px;
  }
}

#left_menu {
  padding-top: 5px;

  a {
    color: inherit;
  }

  i.fa {
    margin-right: 5px;
  }

  .list-group-item-custom {
    border: 0 !important;
    color: $base-font-color;
    background-color: $sub-color;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
    line-height: 15px;

    a {
      color: inherit !important;
    }
  }

  .list-group-item-custom.active {
    background-color: white;
    font-weight: bold;
  }

  #small_window_menu {
    @include min-screen($breakpoint-small) {
      display: none;
    }

    @include max-screen($breakpoint-large) {
      display: block;
    }

    #open_button {
      background-color: $accent-color;
      color: white;
    }

    #collapse_menu {
      padding-bottom: 20px;
    }
  }

  #large_window_menu {
    @include min-screen($breakpoint-small) {
      display: block;
    }

    @include max-screen($breakpoint-large) {
      display: none;
    }
  }
}

#todo_app_task_list.row, #users_list.row, #task_list.row,
#add_user.row, #edit_user.row, #todo_app_label_list.row {
  margin: 0px 1px 0px 1px; //極端に幅を狭めた時の左側のpadding崩れ防止
}

#item_list {
  padding: 10px;
  width: 100%;

  .detail_info {
    font-size: 80%;
    margin-bottom: 0;
    padding-top: 5px;

    .text {
      margin-right: 10px;
    }
  }
}

#label_list {
  .label-badge {
    font-size: 1.3rem;
  }
}

.subheading {
  font-size: 0.9rem;
  margin-right: 0.5rem;
}

.right-area-form {
  margin: auto;
  padding: 30px 5px 5px 5px;

  form {
    width: 100%;
  }
}

.form-wrapper{
  margin: auto;
  padding: 50px 5px 5px 5px;

  form{
    width: 100%;
  }
}

/**
* tag-it message disable.
*/
.ui-helper-hidden-accessible {
  display:none;
}

.tagit.ui-widget.ui-widget-content {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
}

ul.tagit li.tagit-choice {
  background-color: #cce5ff !important;
  border-color: #b8daff !important;

  .tagit-label {
    color: #004085 !important;
  }
}

#show_task {
  .tagit.ui-widget.ui-widget-content {
    background-color: #e9ecef;
  }
}

.help-block {
  display: none;
}

.submit-btn-wrapper {
  margin: 15px;
}

#user_info {
  .card {
    margin-top: 5px;
    border: 0;

    .user-icon {
      padding: 10px;
      text-align: center;
      font-size: 5rem;
    }
  }
}
