@import "bootstrap";
@import "rails_bootstrap_forms";

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 3px !important;
}
