<!DOCTYPE html>
<html>
<head>
  <title>Log in</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="text-center">
  <%= yield %>
</body>
