// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin task-list-th {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 12px;
}

.p-task-list .current_asc {
  @include task-list-th;
  background-image: url(tasks/arrow_up.png);
}

.p-task-list .current_desc {
  @include task-list-th;
  background-image: url(tasks/arrow_down.png);
}
