<h1><%= t('headline.label.new') %></h1>

<div class="nav justify-content-end">
  <%= link_to t('link.all'), labels_path, class: 'nav-link' %>
</div>

<%= render partial: 'form', locals: { label: @label } %>
