<h1>[WIP]タスク一覧画面</h1>
<table class="table">
  <thead>
  <tr>
    <th>ステータス</th>
    <th>タイトル</th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.status %></td>
      <td><%= link_to task.title, edit_task_path(task) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
