/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header, footer {
    background-color: #343a40;
    min-height: 42px;
    text-align: center;
    text-justify: auto;
}
header, footer > span {
    display:inline-block;
    padding:10px;
    color: #fdfdfd;
    font-size: 16px;
}

section {
    margin: 32px 0;
}

#create-btn-div {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 999;
    box-shadow: 0px 0px 26px -8px rgba(0,0,0,0.7)
}

#description-div p {
    overflow-wrap: break-word;
}

#pagination-wrap {
    text-align: center;
}

#pagination-wrap nav {
    display: inline-block;
}

#datetime-form-group select {
    height: calc(1.5em + 0.75rem + 2px);
    background-color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}