<% if model.errors.any? %>
  <div class="alert alert-warning" id="error_explanation">
    <strong>
      <%= model.errors.count %><%= t("message.error.occurred") %>
    </strong>
    <span><%= t("message.error.check") %></span>
    <hr>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>