<% if model.errors.any? %>
  <div id="error_explanation">
    <h4>
      <%= model.errors.count %><%= t("message.error.occurred") %><%= t("message.error.check") %>
    </h4>
    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>