<h1>ユーザ情報編集</h1>

<%= render partial: 'shared/error_message', locals: { model: @user } %>
<%= render partial: 'shared/users/form', locals: { url: admin_user_path(@user), button_name: t('button.edit') }%>
