<!-- Fixed navbar -->
<%= render :partial => "common/header/admin" %>
<body>
  <div class="container" id="admin-index-content">
    <div class="card" style="width: 20rem;text-align:center;">
      <a href="admin/users" data-turbolinks="false">
        <img class="card-img-top" src="<%= image_path('icon_human.png') %>" alt="Card image cap">
        <div class="card-body"><h4 class="card-title">Users</h4></div>
      </a>
    </div>
  </div>
</body>
