<%#= debug @view_params %>
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Guild</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" style="padding-top:8px; padding-left:100px;">
        <button type="button" class="btn btn-success" id='create-button' data-toggle="modal" onClick="javascript:openAddingeModalWindow();">Create</button>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <div id="alert-complete" class="alert alert-success" role="alert" hidden></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">UserName</th>
        <th scope="col">Label</th>
        <th scope="col">Subject</th>
        <th scope="col">Priority</th>
        <th scope="col">State</th>
        <th scope="col">Createion Date Time</th>
        <th scope="col">Updated Date Time</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="task-list-doby"></tbody>
  </table>
</div>
<%= render :partial => "common/modal_window" %>
<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
