<h1><%= t('page.admin.title.top') %></h1>

<div class='well'>
  <h2><%= t('page.admin.user.title.list')%></h2>
  <p><%= t('page.admin.user.description')%></p>
  <%= link_to t('page.admin.link.view'), admin_users_path, class: 'btn btn-primary' %>
</div>
