<p id="notice"><%= notice %></p>

<h1><%= Task.model_name.human %></h1>

<%= react_component("App", { 
  labels: Label.all.map { |label| { label: label.name, value: label.id } },
  statuses: Task.statuses.map { |k, v| { label: Task.status_name(k), value: v } },
}) %>

<hr />

<br>

<%= link_to t('scaffold.new', model: Task.model_name.human), new_task_path %>
