// Place all the styles related to the list controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  overflow-wrap: break-word;
  word-wrap: break-word;
  table-layout:fixed;
}

.table pre {
  white-space: pre-line;
  background-color: transparent;
  border: 0;
}

.label-waiting {
  background-color: #7B68EE;
}

.label-working {
  background-color: #008833;
}

.label-completed {
  background-color: #CC3300;
}

.label-low {
  background-color: #136FFF;
}

.label-common {
  background-color: #008080;
}

.label-high {
  background-color: #CC3300;
}