// Place all the styles related to the list controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.table pre {
  white-space:pre-line;
  border:0;
}