<% if object.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% object.errors.messages.each do |key, messages| %>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
