<div>
  <div>
    <%= link_to I18n.t('button.new'), tasks_new_path %>
  </div>
  <div>
    <% @tasks.each do |task| %>
      <ul>
        <li><%= link_to I18n.t('view.task_name', :task => task.task_name), show_task_path(task.id) %></li>
      </ul>
    <% end %>
  </div>
</div>