<div>
  <div>
    <%= link_to 'new', tasks_new_path %>
  </div>
  <div>
    <% @tasks.each do |task| %>
      <ul>
        <li><%= link_to "タスク：#{task.task_name}", show_task_path(task.id) %></li>
      </ul>
    <% end %>
  </div>
</div>