<div>
  <div>
    <%= button_to 'new', tasks_new_path, method: :get %>
  </div>
  <div>
    <% @tasks.each do |task| %>
      <ul>
        <li><a href="/tasks/show/<%=task.id%>">タスク：<%= task.task_name %></a></li>
      </ul>
    <% end %>
  </div>
</div>