<div>
  <div>
    <input type="button" value="home" onClick="location.href='/'"></input>
    <input type="button" value="edit" onClick="location.href='/tasks/edit/<%=params[:id]%>'"></input>
  </div>

  <div>
    <ul>
      <li>タスク：<%= @task.task_name %></li>
      <li>詳細　： <%= @task.description %></li>
    </ul>
  </div>
</div>