<div>
  <h1><%= I18n.t('tasks.view.edit.title') %></h1>
</div>

<%= render partial: 'task_form' %>

<div>
  <%= link_to(I18n.t('tasks.view.edit.index_page'), tasks_path) %> / <%= link_to(I18n.t('tasks.view.edit.show_page'), task_path(@task)) %>
</div>
