<div class="error_body">
  <div class="title">
    <strong>
    <h1>
      500 Internal Server Error
    </h1>
    </strong>
  </div>
  <div class="comment">
    <h4>
      We are working to solve the problem, soory for the inconvenience
    </h4>
  </div>
<div>
