<div class="error-body">
  <div class="title">
    <strong>
    <h1>
      <%= t('errors.not_found.title') %>
    </h1>
    </strong>
  </div>
  <div class="comment">
    <h4>
      <%= t('errors.not_found.comment') %>
    </h4>
  </div>
<div>
