// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user_index

.user_index {
  padding: 0.5em 1em;
  background: #f0f7ff;
  border: dashed 1px #5b8bd0;
  width: 80%;
  margin: 0.7em auto;
}

.user_index p {
  margin: 0;
  padding: 0;
}
