<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1>タスク追加</h1>
    </div>
  </div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: 'alert-' + name %>
  <% end %>
  <%= link_to 'タスク一覧へ', tasks_path, class: 'btn btn-light' %>
</div>
