<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h1><%= t('.adding_task') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg.join('<br>').html_safe, class: 'alert-' + name %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <%= render partial: "form", locals: { task: @task, button_name: t('.add') } %>
    </div>
  </div>
</div>
